/* * {
  border: 1px dashed white;
}
*/

body {
  background-image: url("../img/bg.jpg");
}



/*.outlinedText {
  font-size: 40em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
*/

.title {
  font-size: 13em;
  font-family: 'Bungee Inline', cursive;
  -webkit-text-stroke-width: .02em;
  -webkit-text-stroke-color: white;
}
