/* * {
  border: 1px dashed white;
}
*/

/* General Styling ------------------------------- */
body {
   background-image: url("../img/bg.jpg");
}

.main-color {
  background-color:#25a9fe;
  color:white;
  border: 5px solid white;
}

h2 {
  font-family: 'Bungee Inline', cursive;
  font-size:4em;
}

ul li {
  list-style:none;
}

.banner {
  background-color: lightGrey;
}

.bold {
  font-weight: bold;
}
/* Navbar stles ---------------------------------- */
.babyBurger {
  height: 50px;
  padding-right:2em;
}
/* Title Styles ---------------------------------- */
.title {
  font-size: 9em;
  font-family: 'Bungee Inline', cursive;
  -webkit-text-stroke-width: .03em;
  -webkit-text-stroke-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Section Styles -------------------------------- */
.container {
  margin-bottom: 2em;
  padding-top: 5em;
}
.burgerAlign {
  padding-top: 2em;
}

/* Game List Card Styles -------------------------- */
.gameListCard {
  padding:3em;
}
.gameListCard p {
  font-size: 1.75em;
  padding-top: .5em;
}
