/* * {
  border: 1px dashed white;
}
*/

body {
   background-image: url("../img/bg.jpg");
}

.banner {
  background-color: lightGrey;
}



/*.outlinedText {
  font-size: 40em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
*/

.title {
  font-size: 9em;
  font-family: 'Bungee Inline', cursive;
  -webkit-text-stroke-width: .03em;
  -webkit-text-stroke-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}

#faq {
  background-color:#25a9fe;
  color:white;
  margin-top:7em;
}

ul li {
  list-style:none;
}
